body{
    text-align: center;
    background-image:url("https://pa1.narvii.com/6367/6333a058e07e11030bc6cd772b470bc224c831ea_hq.gif");
    

}
h2{
color: aliceblue;     
}
h3{
   color: white;
    }
h4{
    color: black;
}